#UI BMS4, created by Revientor and Naldo (2009)
#This controls the debrief window when you leave a dogfight.

[WINDOW]
[SETUP] DF_DBRF_WIN C_TYPE_EXCLUSIVE 636 337
[XY] 221 164
[RANGES] 0 0 1024 768 636 337
[CLIENTAREA] 24 65 336 247 1 "Actions"
[CLIENTAREA] 389 62 216 100 2 "Teams Score"
[CLIENTAREA] 389 167 216 145 3 "Pilot Scores"
[CLIENTAREA] 389 62 216 250 4 "Furball Score"
[GROUP] 2100
[DRAGH] 25
[FLAGBITON] C_BIT_DRAGABLE
[FLAGBITON] C_BIT_TRANSLUCENT
[CLIENTAREA] 2 2 482 22 5 "TitleStrip"

[BITMAP]
[SETUP] NID C_STATE_DOWN DEBRIFING_DGFT

[TEXT] 
[SETUP] NID C_TYPE_LEFT 
[SETTEXT] TXT_DEBRIEF_TITLE 
[XY] 10 3 
[FONT] BANK_GOTHIC_20 
[FGCOLOR] 230 230 230 
[FLAGBITON] C_BIT_ABSOLUTE 

[BUTTON]
[SETUP] DF_CLOSE_WINDOW C_TYPE_NORMAL 609 4
[IMAGES] REVI_CLOSE REVI_CLOSE NULL NULL
[GROUP] 2100
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP
[CURSOR] CRSR_F16_ON
[HOTKEY] DIK_ESCAPE

[TEXT] 
[SETUP] NID 0
[SETTEXT] TXT_EVENTS_COLON
[XYWH] 34 40 169 11
[FGCOLOR] 255 255 255 WHITE
[FONT] BANK_GOTHIC_20
[FLAGBITON] C_BIT_ABSOLUTE

[SCROLLBAR]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 342 60 13 258
[FLAGBITON] C_BIT_ABSOLUTE
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 134 134 134
[CLIENT] 1
[INCREMENT] 16
[CURSOR] CRSR_VDRAG_ON
[DRAGCURSOR] CRSR_VDRAG_ON

[TEXT] 
[SETUP] NID 0
[SETTEXT] TXT_SCORE_COLON
[XY] 396 40
[FGCOLOR] 230 230 230 WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] BANK_GOTHIC_20
[CLUSTER] 200

[TEXT] 
[SETUP] NID 0
[SETTEXT] TXT_TEAM_SCORE_COLON
[XY] 388 42
[FGCOLOR] 230 230 230 WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] BANK_GOTHIC_20
[CLUSTER] 100

[TEXT] 
[SETUP] NID 0
[SETTEXT] TXT_PILOTSCORES_COLON
[XY] 388 142
[FGCOLOR] 230 230 230 WHITE
[FLAGBITON] C_BIT_ABSOLUTE
[FONT] BANK_GOTHIC_20
[CLUSTER] 100

[SCROLLBAR]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 602 163 13 154
[FLAGBITON] C_BIT_ABSOLUTE
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 134 134 134
[CLIENT] 3
[CURSOR] CRSR_VDRAG_ON
[DRAGCURSOR] CRSR_VDRAG_ON
[INCREMENT] 16

[SCROLLBAR]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 602 61 13 257
[FLAGBITON] C_BIT_ABSOLUTE
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 134 134 134
[CLIENT] 4
[CURSOR] CRSR_VDRAG_ON
[DRAGCURSOR] CRSR_VDRAG_ON
[INCREMENT] 16

#[BUTTON]
#[SETUP] DF_SAVE_DBRF_CTRL C_TYPE_NORMAL 250 34
#[IMAGES] BID_FILE_OUT BID_FILE_IN NULL BID_FILE_DIS
#[FLAGBITON] C_BIT_ABSOLUTE
#[LABELALL] TXT_SAVERESULTS
#[FONT] BANK_GOTHIC_16
#[COLOR] 191 191 191
#[DISCOLOR] 102 102 102
#[CURSOR] CRSR_F16_ON