#UI BMS4, created by Revientor and Naldo (2009)
#This screen puts the map on the screen, and the dogfight
#area locator for where you want to have the dogfight on the map.

[WINDOW]
[SETUP] DF_MAP_WIN C_TYPE_NORMAL 344 344
[RANGES] 0 0 1024 768 256 334
[XY] 656 135
[GROUP] 2020
[FLAGBITON] C_BIT_CANTMOVE

[BITMAP]
[SETUP] NID, 0, REVI_MAP_TGA

[LOCATOR]
[SETUP] DF_MAP_CURSOR 0
[RANGES] 1 1 340 340
[XYWH] 43 64 40 40
[COLOR] 0 255 0 GREEN
[BOXCOLOR] 0 150 0
[PERCENT] 40
[FLAGBITON] C_BIT_TRANSLUCENT
[HELPTEXT] HELP_SUA_CURSOR
[CURSOR] CRSR_DRAG

#JP WEATHER launch button
[BUTTON]
[SETUP] BI_SHOW_WEATHER,C_TYPE_NORMAL, 0 0
[IMAGES] BID_MAP_WTH BID_MAP_WTH_LIT NULL NULL
[FLAGBITON] C_BIT_ABSOLUTE
[GROUP] 6401
[CURSOR] CRSR_F16_ON
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[USERDATA] C_STATE_0 100
[USERDATA] C_STATE_1 200
[HELPTEXT] HELP_MAP_WTH
