#UI BMS4, created by Revientor and Naldo (2009)
#This window lists the dogfight type at the top of
#the window when you commit to the dogfight menu.

[WINDOW]
[SETUP] DF_GAME_HEADER_WIN C_TYPE_NORMAL 300 60
[XY] 393 73
[RANGES] 0 0 1024 768 300 60
[GROUP] 2020
[FLAGBITON] C_BIT_CANTMOVE
[FLAGBITON] C_BIT_TRANSLUCENT

#[FILL]
#[SETUP] NID C_TYPE_HORIZONTAL
#[XYWH] 0 0 349 30
#[COLOR] 0
#[GRADIENT] 30 100
#[FLAGBITON] C_BIT_TRANSLUCENT

#SET this button state as follows:
#FURBALL = 0
#TEAM FURBALL = 1
#MATCH PLAY = 2

[BUTTON]
[SETUP] DF_GAME_TITLE C_TYPE_CUSTOM 0 0
#[BUTTONIMAGE] C_STATE_0 FURBALL
#[BUTTONIMAGE] C_STATE_1 TEAMFURBALL
#[BUTTONIMAGE] C_STATE_2 MATCHPLAY
[BUTTONIMAGE] C_STATE_0 GUN_FURBALL_HEAD
[BUTTONIMAGE] C_STATE_1 GUN_FURBALLTEAM_HEAD
[BUTTONIMAGE] C_STATE_2 GUN_MACH_HEAD
[FLAGBITON] C_BIT_VCENTER
[FLAGBITOFF] C_BIT_MOUSEOVER
[FLAGBITON] C_BIT_ENABLED

#[LISTBOX]
#[SETUP] DF_GAME_TYPE 0
#[XYWH] 1 1 348 30
#[NORMCOLOR] 230 230 230
#[SELCOLOR] 0 255 0 GREEN
#[FONT] OCR_EXT_24
#[DROPDOWN] BID_DROPDOWN
#[FLAGBITON] C_BIT_ABSOLUTE
#[ADDITEM] DF_GAME_FURBALL C_TYPE_ITEM TXT_FURBALL_CAPS
#[ITEMUSERDATA] DF_GAME_FURBALL C_STATE_0 200
#[ITEMUSERDATA] DF_GAME_FURBALL C_STATE_1 100
#[ADDITEM] DF_GAME_TEAM_FURBALL C_TYPE_ITEM TXT_TEAM_FURBALL_CAPS
#[ITEMUSERDATA] DF_GAME_TEAM_FURBALL C_STATE_0 100
#[ITEMUSERDATA] DF_GAME_TEAM_FURBALL C_STATE_1 200
#[ADDITEM] DF_GAME_TEAM_MATCH C_TYPE_ITEM TXT_MATCHPLAY_CAPS
#[ITEMUSERDATA] DF_GAME_MATCH C_STATE_0 100
#[ITEMUSERDATA] DF_GAME_MATCH C_STATE_1 200
#[CURSOR] CRSR_LIST_F16
#[SOUNDBITE] SND_MENU C_STATE_DOWN
#[FLAGBITOFF] C_BIT_ENABLED