#UI BMS4, created by Revientor and Naldo (2009)
#Modified by Dee-Jay 25/08/2019 : Clock window ZULU / LOCAL TIME update
#This window displays the clock on the top-right

[WINDOW]
[SETUP] DF_PLAY_SUA_WIN C_TYPE_NORMAL 344 29
[XY] 656 106
[RANGES] 0 0 1024 768 344 29
[GROUP] 2020
[FLAGBITON] C_BIT_CANTMOVE
[FLAGBITON] C_BIT_TRANSLUCENT

[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 0 0 344 29
[PERCENT] 30
[FLAGBITON] C_BIT_TRANSLUCENT
[FLAGBITON] C_BIT_ABSOLUTE

[BOX]
[SETUP] NID,0
[XYWH] 5 5 334 19
[COLOR] 180 180 180 GREY

[TEXT] 
[SETUP] NID 0
[SETTEXT] TXT_START_TIME_COLON
[XY] 46 6
[FONT] OCR_EXT_16
[FGCOLOR] 255 255 255 WHITE

[CLOCK]
[SETUP] TIME_ID 0
[XY] 173 6
[NORMCOLOR] 255 255 255 WHITE
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[SEP1] TXT_CLOCK_HOUR_SEP
[SEP2] TXT_CLOCK_MINUTE_SEP
[CLIENT] 2
[HELPTEXT] HELP_SUA_TIME

[TEXT] 
[SETUP] NID 0
[SETTEXT] TXT_LOCAL_TIME
[XY] 259 8
[FONT] OCR_EXT_14
[FGCOLOR] 255 255 255 WHITE

[BUTTON] 
[SETUP] TIME_EARLIER C_TYPE_NORMAL 283 10
[IMAGES] GRN_EARLIER GRN_EARLIER_DOWN NULL GRN_EARLIER_DOWN 
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_DEC C_TYPE_LMOUSEUP
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_DEC_TIME
[USERDATA] 0 TIME_ID
[USERDATA] 1 -1

[BUTTON] 
[SETUP] TIME_LATER C_TYPE_NORMAL 291 10
[IMAGES] GRN_LATER GRN_LATER_DOWN NULL GRN_LATER_DOWN
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_INC C_TYPE_LMOUSEUP
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_INC_TIME
[USERDATA] 0 TIME_ID
[USERDATA] 1 1