#UI BMS4, created by Revientor and Naldo (2009)
#This menu lists the dogfight settings on the bottom-right of the dogfight module.

[WINDOW]
[SETUP] DF_SETTINGS_WIN C_TYPE_NORMAL 557 166
[XY] 443 496
[CLIENTAREA] 0 0 557 166
[RANGES] 0 0 1024 768 557 166
[GROUP] 2020
[FLAGBITON] C_BIT_CANTMOVE

[TILE] 
[SETUP] NID 0 DF_SET
[XYWH] 0 0 557 166
[FLAGBITON] C_BIT_ABSOLUTE 
[FLAGBITON] C_BIT_HORIZONTAL

#Game Type
[TEXT]
[SETUP] NID,0
[SETTEXT] TXT_GAME
[XY] 12, 10
[FGCOLOR] 200 240 250 BLUE
[FONT] HAETTEN_16

[LINE]
[SETUP] NID, 0 
[XYWH] 63 12 208 16
[COLOR] 0 0 0

[LISTBOX]
[SETUP] DF_GAME_TYPE 0
[XYWH] 63 11 208 16
[NORMCOLOR] 255 255 255 WHITE
[SELCOLOR] 255 255 0 YELLOW
[BGCOLOR] 0 0 0
[FONT] BANK_GOTHIC_16
[DROPDOWN] BID_DROPDOWN
[ADDITEM] DF_GAME_FURBALL C_TYPE_ITEM TXT_FURBALL
[ITEMUSERDATA] DF_GAME_FURBALL C_STATE_0 200
[ITEMUSERDATA] DF_GAME_FURBALL C_STATE_1 100
[ADDITEM] DF_GAME_TEAM_FURBALL C_TYPE_ITEM TXT_TEAM_FURBALL
[ITEMUSERDATA] DF_GAME_TEAM_FURBALL C_STATE_0 100
[ITEMUSERDATA] DF_GAME_TEAM_FURBALL C_STATE_1 200
[ADDITEM] DF_GAME_TEAM_MATCH C_TYPE_ITEM TXT_MATCHPLAY
[ITEMUSERDATA] DF_GAME_MATCH C_STATE_0 100
[ITEMUSERDATA] DF_GAME_MATCH C_STATE_1 200
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_STATE_DOWN

#Tactic Type
[TEXT]
[SETUP] NID,0
[SETTEXT] TXT_TACTIC
[XY] 12, 31
[FGCOLOR] 255 255 255 WHITE
[FONT] HAETTEN_16

[LINE]
[SETUP] NID, 0 
[XYWH] 173 33 377 16
[COLOR] 0 0 0

[LISTBOX]
[SETUP] DF_BVR_TACTIC 0
[XYWH] 173 33 377 16
[NORMCOLOR] 255 255 255 WHITE
[SELCOLOR] 255 255 0 YELLOW
[BGCOLOR] 0 0 0
[FONT] BANK_GOTHIC_16
[DROPDOWN] BID_DROPDOWN

[ADDITEM] DF_BVR_RANDOM C_TYPE_ITEM TXT_DF_BVR_RANDOM
[ITEMUSERDATA] DF_BVR_RANDOM C_STATE_0 200
[ITEMUSERDATA] DF_BVR_RANDOM C_STATE_1 100
[ADDITEM] DF_BVR_PLEVEL1A	 C_TYPE_ITEM TXT_DF_BVR_PLEVEL1A	
[ITEMUSERDATA] DF_BVR_PLEVEL1A	 C_STATE_0 100
[ITEMUSERDATA] DF_BVR_PLEVEL1A	 C_STATE_1 200
[ADDITEM] DF_BVR_PLEVEL2A C_TYPE_ITEM TXT_DF_BVR_PLEVEL2A
[ITEMUSERDATA] DF_BVR_PLEVEL2A C_STATE_0 100
[ITEMUSERDATA] DF_BVR_PLEVEL2A C_STATE_1 200
[ADDITEM] DF_BVR_PLEVEL3A	 C_TYPE_ITEM TXT_DF_BVR_PLEVEL3A	
[ITEMUSERDATA] DF_BVR_PLEVEL3A	 C_STATE_0 100
[ITEMUSERDATA] DF_BVR_PLEVEL3A	 C_STATE_1 200
[ADDITEM] DF_BVR_PLEVEL2C	 C_TYPE_ITEM TXT_DF_BVR_PLEVEL2C	
[ITEMUSERDATA] DF_BVR_PLEVEL2C	 C_STATE_0 100
[ITEMUSERDATA] DF_BVR_PLEVEL2C	 C_STATE_1 200
[ADDITEM] DF_BVR_PLEVEL3C	 C_TYPE_ITEM TXT_DF_BVR_PLEVEL3C	
[ITEMUSERDATA] DF_BVR_PLEVEL3C	 C_STATE_0 100
[ITEMUSERDATA] DF_BVR_PLEVEL3C	 C_STATE_1 200
[ADDITEM] DF_BVR_PBEAMDEPLOY	 C_TYPE_ITEM TXT_DF_BVR_PBEAMDEPLOY	
[ITEMUSERDATA] DF_BVR_PBEAMDEPLOY	 C_STATE_0 100
[ITEMUSERDATA] DF_BVR_PBEAMDEPLOY	 C_STATE_1 200
[ADDITEM] DF_BVR_PGRINDER	 C_TYPE_ITEM TXT_DF_BVR_PGRINDER	
[ITEMUSERDATA] DF_BVR_PGRINDER	 C_STATE_0 100
[ITEMUSERDATA] DF_BVR_PGRINDER	 C_STATE_1 200
[ADDITEM] DF_BVR_PWIDEAZIMUTH	 C_TYPE_ITEM TXT_DF_BVR_PWIDEAZIMUTH
[ITEMUSERDATA] DF_BVR_PWIDEAZIMUTH	 C_STATE_0 100
[ITEMUSERDATA] DF_BVR_PWIDEAZIMUTH	 C_STATE_1 200
[ADDITEM] DF_BVR_PSHORTAZIMUTH	 C_TYPE_ITEM TXT_DF_BVR_PSHORTAZIMUTH
[ITEMUSERDATA] DF_BVR_PSHORTAZIMUTH	 C_STATE_0 100
[ITEMUSERDATA] DF_BVR_PSHORTAZIMUTH	 C_STATE_1 200
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_STATE_DOWN

#RADAR Missiles
[TEXT]
[SETUP] NID,0
[SETTEXT] TXT_RADARMISSILES
[XY] 291 54
[FGCOLOR] 255 255 255 WHITE
[FONT] HAETTEN_16

[LINE]
[SETUP] NID, 0 
[XYWH] 534,56,16,18
[COLOR] 0 0 0

[EDITBOX]
[SETUP] RADAR_READOUT C_TYPE_INTEGER
[XYWH] 535 55 16 16
[FONT] BANK_GOTHIC_16
[MAXLEN] 4
[MAXINTEGER] 8
[INTEGER] 2
[FGCOLOR] 255 255 255 WHITE
[FLAGBITOFF] C_BIT_ENABLED

[LINE]
[SETUP] NID, 0 
[XYWH] 291,78,259,1
[COLOR] 230 230 230 BLUE

[SLIDER]
[SETUP] RADAR_SLIDER, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[XYWH] 291,73,242,13
[STEPS] 4
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN

[LINE]
[SETUP] NID, 0 
[XYWH] 549 71 1 8
[COLOR] 230 230 230 BLUE

#AIR Missiles
[TEXT]
[SETUP] NID,0
[SETTEXT] TXT_ALLASPECTMISSILE
[XY] 291 88
[FGCOLOR] 255 255 255 WHITE
[FONT] HAETTEN_16

[LINE] 
[SETUP] NID, 0 
[XYWH] 534,91,16,18
[COLOR] 0 0 0

[EDITBOX]
[SETUP] ALLIR_READOUT C_TYPE_INTEGER
[XYWH] 535 90 16 16
[FONT] BANK_GOTHIC_16
[MAXINTEGER] 8
[MAXLEN] 4
[INTEGER] 2
[FGCOLOR] 255 255 255 WHITE
[FLAGBITOFF] C_BIT_ENABLED

[LINE]
[SETUP] NID, 0 
[XYWH] 291,113,259,1
[COLOR] 230 230 230 BLUE

[SLIDER]
[SETUP] ALLIR_SLIDER, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[XYWH] 291,107,242,13
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[STEPS] 4
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN

[LINE]
[SETUP] NID, 0 
[XYWH] 549 106 1 8
[COLOR] 230 230 230 BLUE

#Rear IR Missiles
[TEXT]
[SETUP] NID,0
[SETTEXT] TXT_REARASPECTMISSILES
[XY] 291 124
[FGCOLOR] 255 255 255 WHITE
[FONT] HAETTEN_16

[LINE]
[SETUP] NID, 0 
[XYWH] 534,126,16,18
[COLOR] 0 0 0

[EDITBOX]
[SETUP] RIR_READOUT C_TYPE_INTEGER
[XYWH] 535 125 16 16
[MAXLEN] 4
[FONT] BANK_GOTHIC_16
[MAXINTEGER] 8
[INTEGER] 2
[FGCOLOR] 255 255 255 WHITE
[FLAGBITOFF] C_BIT_ENABLED

[LINE]
[SETUP] NID, 0 
[XYWH] 291,149,259,1
[COLOR] 230 230 230 BLUE

[SLIDER]
[SETUP] RIR_SLIDER, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[XYWH] 291,143,242,13
[STEPS] 4
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN

[LINE]
[SETUP] NID, 0 
[XYWH] 549 141 1 8
[COLOR] 230 230 230 BLUE

#Guns
[TEXT]
[SETUP] NID,0
[SETTEXT] TXT_UNLIMITEDGUNS
[XY] 291 7
[FGCOLOR] 200 240 250 BLUE
[FONT] HAETTEN_16
[SOUNDBITE] SND_TOGGLE C_STATE_DOWN

#[LINE]
#[SETUP] NID, 0 
#[XYWH] 291,31,97,1
#[COLOR] 230 230 230 BLUE

#[LINE]
#[SETUP] NID, 0 
#[XYWH] 388 24 1 8
#[COLOR] 230 230 230 BLUE

[BUTTON]
[SETUP] GUN_CTRL C_TYPE_TOGGLE 372 10
[IMAGES] BID_CHK1_OFF BID_ORANGE_CHK1_ON NULL NULL
[SOUNDBITE] SND_GUNS C_STATE_DOWN
[SOUNDBITE] SND_TOGGLE C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON

#ECM pods
[TEXT]
[SETUP] NID,0
[SETTEXT] TXT_ECM_POD
[XY] 531 7
#[XY] 397 7 "with TGP Pod"
[FGCOLOR] 200 240 250 BLUE
[FONT] HAETTEN_16
[SOUNDBITE] SND_TOGGLE C_STATE_DOWN

[BUTTON]
[SETUP] ECM_CTRL C_TYPE_TOGGLE 450 10
[IMAGES] BID_CHK1_OFF BID_ORANGE_CHK1_ON NULL NULL
[SOUNDBITE] SND_GUNS C_STATE_DOWN
[SOUNDBITE] SND_TOGGLE C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_F16_ON

#TGP Pod (Not Implement)
#[TEXT]
#[SETUP] NID,0
#[SETTEXT] TXT_LOAD_TGP
#[XY] 479 7
#[FGCOLOR] 200 240 250 BLUE
#[FONT] HAETTEN_16
#[SOUNDBITE] SND_TOGGLE C_STATE_DOWN

#[BUTTON]
#[SETUP] LOAD_TGP C_TYPE_TOGGLE 533 10
#[IMAGES] BID_CHK1_OFF BID_CHK1_ON NULL NULL
#[SOUNDBITE] SND_GUNS C_STATE_DOWN
#[SOUNDBITE] SND_TOGGLE C_TYPE_LMOUSEDOWN
#[CURSOR] CRSR_F16_ON

#Range
[LINE]
[SETUP] NID, 0 
[XYWH] 173 54 98 16
[COLOR] 0 0 0

[TEXT]
[SETUP] NID,0
[SETTEXT] TXT_RANGE
[XY] 12 54
[FGCOLOR] 255 255 255 WHITE
[FONT] HAETTEN_16

[EDITBOX]
[SETUP] RANGE_READOUT C_TYPE_INTEGER
[XYWH] 173 54 70 16
[FONT] BANK_GOTHIC_16
[MAXLEN] 4
[MAXINTEGER] 60
[INTEGER] 10
[FGCOLOR] 255 255 255 WHITE
[FLAGBITOFF] C_BIT_ENABLED

[TEXT]
[SETUP] NID, C_TYPE_RIGHT
[SETTEXT] TXT_NM
[XY] 269 54
[FONT] BANK_GOTHIC_16
[FGCOLOR] 255 255 0 YELLOW 
[FLAGBITON] C_BIT_RIGHT

[LINE]
[SETUP] NID, 0 
[XYWH] 12,78,259,1
[COLOR] 230 230 230 BLUE

[SLIDER]
[SETUP] RANGE_SLIDER, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[XYWH] 12,73,161,13
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN

[LINE]
[SETUP] NID, 0 
[XYWH] 270 70 1 8
[COLOR] 230 230 230 BLUE

#Altitude
[LINE]
[SETUP] NID, 0 
[XYWH] 173 89 98 16
[COLOR] 0 0 0

[TEXT]
[SETUP] NID,0
[SETTEXT] TXT_ALTITUDE
[XY] 12 89
[FGCOLOR] 255 255 255 WHITE
[FONT] HAETTEN_16

[EDITBOX]
[SETUP] ALTITUDE_READOUT C_TYPE_INTEGER
[XYWH] 173 89 70 16
[BGCOLOR] 81 160 217 LIGHT BLUE BLUE
[FONT] BANK_GOTHIC_16
[MAXLEN] 6
[MININTEGER] 2000
[MAXINTEGER] 60000
[INTEGER] 12000
[FGCOLOR] 255 255 255 WHITE
[FLAGBITOFF] C_BIT_ENABLED

[TEXT]
[SETUP] NID, C_TYPE_RIGHT
[SETTEXT] TXT_FT
[XY] 269 89
[FONT] BANK_GOTHIC_16
[FGCOLOR] 255 255 0 YELLOW 
[FLAGBITON] C_BIT_RIGHT

[LINE]
[SETUP] NID, 0 
[XYWH] 12 113 259 1
[COLOR] 230 230 230 BLUE

[SLIDER]
[SETUP] ALTITUDE_SLIDER, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[XYWH] 12 108 161 13
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN

[LINE]
[SETUP] NID, 0 
[XYWH] 270 105 1 8
[COLOR] 230 230 230 BLUE

#Kills
[LINE]
[SETUP] NID, 0 
[XYWH] 173 125 98 16
[COLOR] 0 0 0

[TEXT]
[SETUP] KILL_WIN_LABEL, 0
[SETTEXT] TXT_POINTS
[XY] 12 125
[FGCOLOR] 255 255 255 WHITE
[FONT] HAETTEN_16

[EDITBOX]
[SETUP] MP_READOUT C_TYPE_INTEGER
[XYWH] 173 125 101 16
[BGCOLOR] 0 0 0 BLUE
[FONT] BANK_GOTHIC_16
[MAXLEN] 10
[MAXINTEGER] 1
[MAXINTEGER] 101
[FGCOLOR] 255 255 255 WHITE
[FLAGBITOFF] C_BIT_ENABLED

[LINE]
[SETUP] NID, 0 
[XYWH] 12 149 259 1
[COLOR] 230 230 230 BLUE

[SLIDER]
[SETUP] MP_SLIDER, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[XYWH] 12 144 161 13
[CURSOR] CRSR_HDRAG
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN

[LINE]
[SETUP] NID, 0 
[XYWH] 270 141 1 8
[COLOR] 230 230 230 BLUE