#UI BMS4, created by Revientor and Naldo (2009)
#This windows controls both match play and furball, for
#the left window panes where you join the 4 flights.

[WINDOW]
[SETUP] DF_TEAM_WIN C_TYPE_NORMAL 415 556
[RANGES] 0 0 1024 768 415 556
[XY] 23 106
[GROUP] 2020
[CLIENTAREA] 11 27 182 218 0 "Crimson"
[CLIENTAREA] 211 27 182 218 1 "Shark"
[CLIENTAREA] 11 298 182 218 2 "Viper"
[CLIENTAREA] 211 298 182 218 3 "Tiger"
[CLIENTAREA] 11 45 220 471 4 "No teams"
[FLAGBITON] C_BIT_CANTMOVE
[FLAGBITON] C_BIT_TRANSLUCENT
[OPENCLIENTMENU] C_STATE_0 DF_TEAM_NEW_POPUP
[OPENCLIENTMENU] C_STATE_1 DF_TEAM_NEW_POPUP
[OPENCLIENTMENU] C_STATE_2 DF_TEAM_NEW_POPUP
[OPENCLIENTMENU] C_STATE_3 DF_TEAM_NEW_POPUP
[OPENCLIENTMENU] C_STATE_4 DF_FURBALL_NEW_POPUP

[TILE] 
[SETUP] NID 0 DF_TEAM1
[XYWH] 0 0 415 556
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 200 
[FLAGBITON] C_BIT_HORIZONTAL

[TILE] 
[SETUP] NID 0 DF_TEAM2
[XYWH] 0 0 415 556
[FLAGBITON] C_BIT_ABSOLUTE 
[CLUSTER] 100 
[FLAGBITON] C_BIT_HORIZONTAL

[TILE] 
[SETUP] NID 0 DF_AC_COMPASS
[XYWH] 186 249 42 50
[FLAGBITON] C_BIT_ABSOLUTE 
[FLAGBITON] C_BIT_HORIZONTAL
[CLUSTER] 100

[TEXT]
[SETUP] NID C_TYPE_CENTER
#[SETTEXT] TXT_CRIMSONFLIGHT
[SETTEXT] TXT_TEAM_RED
[FLAGBITON] C_BIT_HCENTER
[XY] 107 11
[FONT] HAETTEN_16
[FGCOLOR] 255 255 255 WHITE
#[FGCOLOR] 255 0 0
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 100

[TEXT] SHARK TEAM LABEL
[SETUP] NID C_TYPE_CENTER
#[SETTEXT] TXT_SHARKFLIGHT
[SETTEXT] TXT_TEAM_BLUE
[FLAGBITON] C_BIT_HCENTER
[XY] 306 11
[FONT] HAETTEN_16
[FGCOLOR] 255 255 255 WHITE
#[FGCOLOR] 0 100 140
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 100

[TEXT] VIPER TEAM LABEL
[SETUP] NID C_TYPE_CENTER
#[SETTEXT] TXT_SERPENT
[SETTEXT] TXT_TEAM_GREY
[FLAGBITON] C_BIT_HCENTER
[XY] 107 280
[FONT] HAETTEN_16
[FGCOLOR] 255 255 255 WHITE
#[FGCOLOR] 111 111 111
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 100

[TEXT]
[SETUP] NID C_TYPE_CENTER
#[SETTEXT] TXT_TIGERFLIGHT
[SETTEXT] TXT_TEAM_ORANGE
[FLAGBITON] C_BIT_HCENTER
[XY] 306 280
[FONT] HAETTEN_16
[FGCOLOR] 255 255 255 WHITE
#[FGCOLOR] 220 96 0
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 100

[BUTTON]
[SETUP] DF_CRIMSON C_TYPE_RADIO 37 247
[BUTTONIMAGE] C_STATE_UP DOGFIGHT_JOIN_UP 
[BUTTONIMAGE] C_STATE_DOWN DOGFIGHT_JOIN_DOWN 
[BUTTONIMAGE] C_STATE_DISABLED BID_COMMS_SMALL_DIS
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[LABELALL] TXT_JOIN 
[STATE] 1
[TEXTCOLOR] 0 0 255 0
[TEXTCOLOR] 1 200 200 200
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[GROUP] 100
[SOUNDBITE] SND_DOGPLANE C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 100
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] DF_SHARK C_TYPE_RADIO 242 247
[GROUP] 100
[BUTTONIMAGE] C_STATE_UP DOGFIGHT_JOIN_UP 
[BUTTONIMAGE] C_STATE_DOWN DOGFIGHT_JOIN_DOWN 
[BUTTONIMAGE] C_STATE_DISABLED BID_COMMS_SMALL_DIS
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[LABELALL] TXT_JOIN 
[TEXTCOLOR] 0 0 255 0
[TEXTCOLOR] 1 200 200 200
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[SOUNDBITE] SND_DOGPLANE C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 100
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] DF_VIPER C_TYPE_RADIO 37 520
[BUTTONIMAGE] C_STATE_UP DOGFIGHT_JOIN_UP 
[BUTTONIMAGE] C_STATE_DOWN DOGFIGHT_JOIN_DOWN 
[BUTTONIMAGE] C_STATE_DISABLED BID_COMMS_SMALL_DIS
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[LABELALL] TXT_JOIN 
[TEXTCOLOR] 0 0 255 0
[TEXTCOLOR] 1 200 200 200
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[GROUP] 100
[SOUNDBITE] SND_DOGPLANE C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 100
[CURSOR] CRSR_F16_ON

[BUTTON] 
[SETUP] DF_TIGER C_TYPE_RADIO 247 520
[BUTTONIMAGE] C_STATE_UP DOGFIGHT_JOIN_UP 
[BUTTONIMAGE] C_STATE_DOWN DOGFIGHT_JOIN_DOWN 
[BUTTONIMAGE] C_STATE_DISABLED BID_COMMS_SMALL_DIS
[TEXTOFFSET] C_STATE_UP 0 -1
[TEXTOFFSET] C_STATE_DOWN -1 0
[LABELALL] TXT_JOIN 
[TEXTCOLOR] 0 0 255 0
[TEXTCOLOR] 1 200 200 200
[TEXTCOLOR] C_STATE_DISABLED 102 102 102
[GROUP] 100
[SOUNDBITE] SND_DOGPLANE C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 100
[CURSOR] CRSR_F16_ON

#[BOX]
#[SETUP] NID 0
#[XYWH] 150 9 0 84
#[COLOR] 65 128 173 BLUE
#[FLAGBITON] C_BIT_ABSOLUTE
#[CLUSTER] 100

[SCROLLBAR]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 195 33 13 213
[FLAGBITON] C_BIT_ABSOLUTE
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 134 134 134
[CLIENT] 0
[CLUSTER] 100
[CURSOR] CRSR_VDRAG_ON
[DRAGCURSOR] CRSR_VDRAG_ON
[INCREMENT] 16

#[BOX]
#[SETUP] NID 0
#[XYWH] 178 9 0 84
#[COLOR] 65 128 173 BLUE
#[FLAGBITON] C_BIT_ABSOLUTE
#[CLUSTER] 100

[SCROLLBAR]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 394 33 13 213
[FLAGBITON] C_BIT_ABSOLUTE
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 134 134 134
[CLIENT] 1
[CLUSTER] 100
[CURSOR] CRSR_VDRAG_ON
[DRAGCURSOR] CRSR_VDRAG_ON
[INCREMENT] 16

#[BOX]
#[SETUP] NID 0
#[XYWH] 150 178 0 84
#[COLOR] 65 128 173 BLUE
#[FLAGBITON] C_BIT_ABSOLUTE
#[CLUSTER] 100

[SCROLLBAR]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 195 303 13 213
[FLAGBITON] C_BIT_ABSOLUTE
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 134 134 134
[CLIENT] 2
[CLUSTER] 100
[CURSOR] CRSR_VDRAG_ON
[DRAGCURSOR] CRSR_VDRAG_ON
[INCREMENT] 16

#[BOX]
#[SETUP] NID 0
#[XYWH] 178 178 0 84
#[COLOR] 65 128 173 BLUE
#[FLAGBITON] C_BIT_ABSOLUTE
#[CLUSTER] 100

[SCROLLBAR]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 394 303 13 213
[FLAGBITON] C_BIT_ABSOLUTE
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 134 134 134
[CLIENT] 3
[CLUSTER] 100
[CURSOR] CRSR_VDRAG_ON
[DRAGCURSOR] CRSR_VDRAG_ON
[INCREMENT] 16

[BUTTON]
[SETUP] ADD_CRIMSON_PLANE C_TYPE_NORMAL 151 247
[IMAGES] RED_ADD_PLANE_UP RED_ADD_PLANE_DOWN NULL ADD_PLANE_DISABLED
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_TOGGLE C_TYPE_LMOUSEUP
[CURSOR] CRSR_F16_ON
[GROUP] 2021
[CLUSTER] 100
[HELPTEXT] HELP_ADD_AIRCRAFT

[BUTTON]
[SETUP] ADD_SHARK_PLANE C_TYPE_NORMAL 356 247
[IMAGES] BLUE_ADD_PLANE_UP BLUE_ADD_PLANE_DOWN NULL ADD_PLANE_DISABLED
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_TOGGLE C_TYPE_LMOUSEUP
[CURSOR] CRSR_F16_ON
[GROUP] 2021
[CLUSTER] 100
[HELPTEXT] HELP_ADD_AIRCRAFT

[BUTTON]
[SETUP] ADD_USA_PLANE C_TYPE_NORMAL 151 520
[IMAGES] WHITE_ADD_PLANE_UP WHITE_ADD_PLANE_DOWN NULL ADD_PLANE_DISABLED
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_TOGGLE C_TYPE_LMOUSEUP
[CURSOR] CRSR_F16_ON
[GROUP] 2021
[CLUSTER] 100
[HELPTEXT] HELP_ADD_AIRCRAFT

[BUTTON]
[SETUP] ADD_TIGER_PLANE C_TYPE_NORMAL 356 520
[IMAGES] YELLOW_ADD_PLANE_UP YELLOW_ADD_PLANE_DOWN NULL ADD_PLANE_DISABLED
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_TOGGLE C_TYPE_LMOUSEUP
[CURSOR] CRSR_F16_ON
[GROUP] 2021
[CLUSTER] 100
[HELPTEXT] HELP_ADD_AIRCRAFT

[BUTTON]
[SETUP] DEL_CRIMSON_PLANE C_TYPE_NORMAL 125 247
[IMAGES] RED_SUB_PLANE_UP RED_SUB_PLANE_DOWN NULL SUB_PLANE_DISABLED
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITOFF] C_BIT_ENABLED
[SOUNDBITE] SND_TOGGLE C_TYPE_LMOUSEUP
[CURSOR] CRSR_F16_ON
[CLUSTER] 100
[HELPTEXT] HELP_DEL_AIRCRAFT

[BUTTON]
[SETUP] DEL_SHARK_PLANE C_TYPE_NORMAL 330 247
[IMAGES] BLUE_SUB_PLANE_UP BLUE_SUB_PLANE_DOWN NULL SUB_PLANE_DISABLED
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITOFF] C_BIT_ENABLED
[SOUNDBITE] SND_TOGGLE C_TYPE_LMOUSEUP
[CURSOR] CRSR_F16_ON
[CLUSTER] 100
[HELPTEXT] HELP_DEL_AIRCRAFT

[BUTTON]
[SETUP] DEL_TBIRD_PLANE C_TYPE_NORMAL 125 520
[IMAGES] WHITE_SUB_PLANE_UP WHITE_SUB_PLANE_DOWN NULL SUB_PLANE_DISABLED
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITOFF] C_BIT_ENABLED
[SOUNDBITE] SND_TOGGLE C_TYPE_LMOUSEUP
[CURSOR] CRSR_F16_ON
[CLUSTER] 100
[HELPTEXT] HELP_DEL_AIRCRAFT

[BUTTON]
[SETUP] DEL_TIGER_PLANE C_TYPE_NORMAL 330 520
[IMAGES] YELLOW_SUB_PLANE_UP YELLOW_SUB_PLANE_DOWN NULL SUB_PLANE_DISABLED
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITOFF] C_BIT_ENABLED
[SOUNDBITE] SND_TOGGLE C_TYPE_LMOUSEUP
[CURSOR] CRSR_F16_ON
[CLUSTER] 100
[HELPTEXT] HELP_DEL_AIRCRAFT

[TREELIST]
[SETUP] CRIMSON_TREE 0
[XY] 2 12
[XOFFSET] 17
[YOFFSET] 15
[CLIENT] 0
[FONT] OCR_EXT_12
[CLUSTER] 100
[IMAGES] TREE_PLUS TREE_MINUS TREE_BLANK
[USERDATA] C_STATE_1 14540253 "Crimson Color"
[USERDATA] C_STATE_2 14540253 "Shark Color"
[USERDATA] C_STATE_3 14540253 "Viper color"
[USERDATA] C_STATE_4 14540253 "Tiger Color"
[OPENMENU] DF_AI_EDIT_CRIMSON_POPUP
[CURSOR] CRSR_F16_ON_RM

[TREELIST]
[SETUP] SHARK_TREE 0
[XY] 2 12
[XOFFSET] 17
[YOFFSET] 15
[CLIENT] 1
[FONT] OCR_EXT_12
[CLUSTER] 100
[IMAGES] TREE_PLUS TREE_MINUS TREE_BLANK
[USERDATA] C_STATE_1 14540253 "Crimson Color"
[USERDATA] C_STATE_2 14540253 "Shark Color"
[USERDATA] C_STATE_3 14540253 "Viper color"
[USERDATA] C_STATE_4 14540253 "Tiger Color"
[OPENMENU] DF_AI_EDIT_SHARK_POPUP
[CURSOR] CRSR_F16_ON_RM

[TREELIST]
[SETUP] VIPER_TREE 0
[XY] 2 2
[XOFFSET] 17
[YOFFSET] 15
[CLIENT] 2
[FONT] OCR_EXT_12
[CLUSTER] 100
[IMAGES] TREE_PLUS TREE_MINUS TREE_BLANK
[USERDATA] C_STATE_1 14540253 "Crimson Color"
[USERDATA] C_STATE_2 14540253 "Shark Color"
[USERDATA] C_STATE_3 14540253 "Viper color"
[USERDATA] C_STATE_4 14540253 "Tiger Color"
[OPENMENU] DF_AI_EDIT_VIPER_POPUP
[CURSOR] CRSR_F16_ON_RM

[TREELIST]
[SETUP] TIGER_TREE 0
[XY] 2 2
[XOFFSET] 17
[YOFFSET] 15
[CLIENT] 3
[FONT] OCR_EXT_12
[CLUSTER] 100
[IMAGES] TREE_PLUS TREE_MINUS TREE_BLANK
[USERDATA] C_STATE_1 14540253 "Crimson Color"
[USERDATA] C_STATE_2 14540253 "Shark Color"
[USERDATA] C_STATE_3 14540253 "Viper color"
[USERDATA] C_STATE_4 14540253 "Tiger Color"
[OPENMENU] DF_AI_EDIT_TIGER_POPUP
[CURSOR] CRSR_F16_ON_RM

####FURBALL STUFF

#[FILL]
#[SETUP] NID C_TYPE_VERTICAL
#[XYWH] 0 0 415 556 
#[PERCENT] 40
#[FLAGBITON] C_BIT_TRANSLUCENT
#[FLAGBITON] C_BIT_ABSOLUTE
#[CLUSTER] 200

[TEXT]
[SETUP] NID C_TYPE_CENTER
[SETTEXT] TXT_PILOTS
[XY] 23 11
[FONT] HAETTEN_16
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 200

[TEXT]
[SETUP] NID C_TYPE_CENTER
[SETTEXT] TXT_ACMARKINGS
[XY] 260 42
[FONT] HAETTEN_16
[FGCOLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 200

[BUTTON]
[SETUP] DF_MARK_CRIMSON C_TYPE_RADIO 260 74
[BUTTONIMAGE] C_STATE_UP COLOR_CRIMSON_OFF
[BUTTONIMAGE] C_STATE_DOWN COLOR_CRIMSON_ON
[BUTTONIMAGE] C_STATE_DISABLED COLOR_CRIMSON_OFF
[GROUP] 200
[STATE] 1
[SOUNDBITE] SND_DOGPLANE C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 200
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] DF_MARK_SHARK C_TYPE_RADIO 260 174
[BUTTONIMAGE] C_STATE_UP COLOR_SHARK_OFF
[BUTTONIMAGE] C_STATE_DOWN COLOR_SHARK_ON
[BUTTONIMAGE] C_STATE_DISABLED COLOR_SHARK_OFF
[GROUP] 200
[SOUNDBITE] SND_DOGPLANE C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 200
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] DF_MARK_VIPER C_TYPE_RADIO 260 274
[BUTTONIMAGE] C_STATE_UP COLOR_TBIRD_OFF
[BUTTONIMAGE] C_STATE_DOWN COLOR_TBIRD_ON
[BUTTONIMAGE] C_STATE_DISABLED COLOR_TBIRD_OFF
[GROUP] 200
[SOUNDBITE] SND_DOGPLANE C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 200
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] DF_MARK_TIGER C_TYPE_RADIO 260 374
[BUTTONIMAGE] C_STATE_UP COLOR_TIGER_OFF
[BUTTONIMAGE] C_STATE_DOWN COLOR_TIGER_ON
[BUTTONIMAGE] C_STATE_DISABLED COLOR_TIGER_OFF
[GROUP] 200
[SOUNDBITE] SND_DOGPLANE C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 200
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] ADD_FURBALL_PLANE C_TYPE_NORMAL 139 527
[IMAGES] WHITE_ADD_PLANE_UP WHITE_ADD_PLANE_DOWN NULL ADD_PLANE_DISABLED
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_TOGGLE C_TYPE_LMOUSEUP
[CURSOR] CRSR_F16_ON
[GROUP] 2021
[CLUSTER] 200
[HELPTEXT] HELP_ADD_AIRCRAFT

[BUTTON]
[SETUP] DEL_FURBALL_PLANE C_TYPE_NORMAL 113 527
[IMAGES] WHITE_SUB_PLANE_UP WHITE_SUB_PLANE_DOWN NULL SUB_PLANE_DISABLED
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITOFF] C_BIT_ENABLED
[SOUNDBITE] SND_TOGGLE C_TYPE_LMOUSEUP
[CURSOR] CRSR_F16_ON
[CLUSTER] 200
[HELPTEXT] HELP_DEL_AIRCRAFT

[LINE]
[SETUP] NID 0
[XYWH] 8 8 64 1
[COLOR] 230 230 230 BLUE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 200

[LINE]
[SETUP] NID 0
[XYWH] 72 8 1 35
[COLOR] 230 230 230 BLUE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 200

[LINE]
[SETUP] NID 0
[XYWH] 72 43 168 1
[COLOR] 230 230 230
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 200

[LINE]
[SETUP] NID 0
[XYWH] 240 43 1 476 
[COLOR] 230 230 230 BLUE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 200

[LINE]
[SETUP] NID 0
[XYWH] 104 518 136 1
[COLOR] 230 230 230 BLUE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 200

[LINE]
[SETUP] NID 0
[XYWH] 104 518 1 30
[COLOR] 230 230 230 BLUE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 200

[LINE]
[SETUP] NID 0
[XYWH] 8 547 96 1
[COLOR] 230 230 230 BLUE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 200

[LINE]
[SETUP] NID 0
[XYWH] 8 8 1 539
[COLOR] 230 230 230 BLUE
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 200

[SCROLLBAR]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 228 43 13 476
[FLAGBITON] C_BIT_ABSOLUTE
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 134 134 134
[CLIENT] 4
[CLUSTER] 200
[CURSOR] CRSR_VDRAG_ON
[DRAGCURSOR] CRSR_VDRAG_ON
[INCREMENT] 16

[TREELIST]
[SETUP] FURBALL_TREE 0
[XY] 2 2
[XOFFSET] 17
[YOFFSET] 15
[IMAGES] TREE_PLUS TREE_MINUS TREE_BLANK
[CLIENT] 4
[FONT] OCR_EXT_12
[CLUSTER] 200
[USERDATA] C_STATE_1 14540253 "Crimson Color"
[USERDATA] C_STATE_2 14540253 "Shark Color"
[USERDATA] C_STATE_3 14540253 "Viper color"
[USERDATA] C_STATE_4 14540253 "Tiger Color"
[OPENMENU] DF_AI_EDIT_POPUP
[CURSOR] CRSR_F16_ON_RM