#UI BMS4, created by Revientor and Naldo (2009)
#This is the main toolbar on the bottom of the window, after
#you join the dogfight.
[WINDOW]
[SETUP] DF_PLAY_TOOLBAR_WIN C_TYPE_NORMAL 996 87
[RANGES] 0 0 1024 768 996 89
[XY] 13 680
[GROUP] 2020
[FLAGBITON] C_BIT_CANTMOVE
[FLAGBITON] C_BIT_TRANSLUCENT

[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 10 2 977 80
[GRADIENT] 30 30
[FLAGBITON] C_BIT_TRANSLUCENT

[BUTTON]
[SETUP] SINGLE_FLY_CTRL C_TYPE_NORMAL 0 0
[XYWH] 860 4 109 75
[BUTTONIMAGE] C_STATE_0 TOOL_DOG_FIGHT
[BUTTONIMAGE] C_STATE_1 TOOL_DOG_FIGHT
[BUTTONIMAGE] C_STATE_DISABLED TOOL_DOG_FIGHT
#[BUTTONANIM] C_STATE_MOUSE SINGLE_FLY_ANIM C_TYPE_LOOP 1
#[FLAGBITOFF] C_BIT_MOUSEOVER
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEUP
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_FLY_ICON
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER

[BUTTON]
[SETUP] COMMS_FLY_CTRL C_TYPE_NORMAL 0 0
[XYWH] 860 4 109 75
[BUTTONIMAGE] C_STATE_0 TOOL_DOG_FIGHT
[BUTTONIMAGE] C_STATE_1 TOOL_DOG_FIGHT
[BUTTONIMAGE] C_STATE_DISABLED TOOL_DOG_FIGHT
#[BUTTONANIM] C_STATE_MOUSE MULTI_FLY_ANIM C_TYPE_PINGPONG 1
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEUP
#[FLAGBITOFF] C_BIT_MOUSEOVER
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_FLY_ICON
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER

[BUTTON]
[SETUP] UI_HELP_GUIDE C_TYPE_NORMAL 0 0
[XYWH] 448 5 68 76
[GROUP] 400021
[BUTTONIMAGE] C_STATE_0 TOOL_DOG_HELP
[BUTTONIMAGE] C_STATE_1 TOOL_DOG_HELP
[BUTTONIMAGE] C_STATE_DISABLED TOOL_DOG_HELP
#[BUTTONANIM] C_STATE_MOUSE HELP_ANIM C_TYPE_LOOP 1
#[FLAGBITOFF] C_BIT_MOUSEOVER
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_HELP
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN