#UI BMS4, created by Revientor and Naldo (2009)
#This screen is the main menu on the up side of the
#screen when you join the dogfight.
[WINDOW]
[SETUP] DGFT_MAIN_SCREEN C_TYPE_EXCLUSIVE 1024 768
[XY] 0 0
[RANGES] 0 0 1024 768 1024 768
[GROUP] 2020
[FLAGBITON] C_BIT_CANTMOVE
[DEPTH] 2

[BITMAP]
[SETUP] NID C_STATE_DOWN DGFT_SCREEN

#[ANIM]
#[SETUP] NID C_TYPE_LOOP FALCON40_ROTATE
#[XY] 22 13
#[DIRECTION] 1

[BUTTON]
[SETUP] DGFT_SAVE_CTRL C_TYPE_NORMAL 17 14
#[HOTSPOT] -5 -5 5 5
[BUTTONIMAGE] C_STATE_0 DGFT_SAVE
[BUTTONIMAGE] C_STATE_1 DGFT_SAVE
[BUTTONIMAGE] C_STATE_2 DGFT_SAVE
[BUTTONIMAGE] C_STATE_3 DGFT_SAVE
[FLAGBITON] C_BIT_VCENTER
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[CURSOR] CRSR_F16_ON
[GROUP] 2021

[BUTTON]
[SETUP] TACREF_CTRL C_TYPE_NORMAL 405 14
#[HOTSPOT] -0 -0 0 0
[BUTTONIMAGE] C_STATE_0 DGFT_TR
[BUTTONIMAGE] C_STATE_1 DGFT_TR
[BUTTONIMAGE] C_STATE_2 DGFT_TR
[BUTTONIMAGE] C_STATE_3 DGFT_TR
[GROUP] 10000
[FLAGBITON] C_BIT_VCENTER
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] LB_MAIN_CTRL C_TYPE_NORMAL 270 14
#[HOTSPOT] -0 -0 0 0
[BUTTONIMAGE] C_STATE_0 DGFT_LOGBOOK
[BUTTONIMAGE] C_STATE_1 DGFT_LOGBOOK
[BUTTONIMAGE] C_STATE_2 DGFT_LOGBOOK
[BUTTONIMAGE] C_STATE_3 DGFT_LOGBOOK
[FLAGBITON] C_BIT_VCENTER
[GROUP] 5000
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] CO_MAIN_CTRL C_TYPE_NORMAL 557 14
#[HOTSPOT] -0 -0 0 0
[BUTTONIMAGE] C_STATE_0 DGFT_COMMS
[BUTTONIMAGE] C_STATE_1 DGFT_COMMS
[BUTTONIMAGE] C_STATE_2 DGFT_COMMS
[BUTTONIMAGE] C_STATE_3 DGFT_COMMS
[FLAGBITON] C_BIT_VCENTER
[GROUP] 6000
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[USERDATA] C_STATE_0 6000
[USERDATA] C_STATE_1 6001
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] SP_MAIN_CTRL C_TYPE_NORMAL 843 14
#[HOTSPOT] -5 -5 5 5
[BUTTONIMAGE] C_STATE_0 DGFT_SETUP
[BUTTONIMAGE] C_STATE_1 DGFT_SETUP
[BUTTONIMAGE] C_STATE_2 DGFT_SETUP
[BUTTONIMAGE] C_STATE_3 DGFT_SETUP
[FLAGBITON] C_BIT_VCENTER
[GROUP] 8000
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] DGFT_EXIT_CTRL C_TYPE_NORMAL 944 14
#[HOTSPOT] -5 -5 5 5
[BUTTONIMAGE] C_STATE_0 DGFT_BACK
[BUTTONIMAGE] C_STATE_1 DGFT_BACK
[BUTTONIMAGE] C_STATE_2 DGFT_BACK
[BUTTONIMAGE] C_STATE_3 DGFT_BACK
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[FLAGBITON] C_BIT_VCENTER
[GROUP] 2020
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] ACMI_CTRL C_TYPE_NORMAL 352 14
#[HOTSPOT] -0 -0 0 0
[BUTTONIMAGE] C_STATE_0 DGFT_ACMI
[BUTTONIMAGE] C_STATE_1 DGFT_ACMI
[BUTTONIMAGE] C_STATE_2 DGFT_ACMI
[BUTTONIMAGE] C_STATE_3 DGFT_ACMI
[FLAGBITON] C_BIT_VCENTER
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[GROUP] 200000
[CURSOR] CRSR_F16_ON