#Pop-up menu for dogfight (right-click)
#UI BMS4, created by Revientor(2010)
[POPUPMENU]
[SETUP] DF_PLAYER_POPUP, C_TYPE_EXCLUSIVE POP_SUBMENU BID_DROPORB
[NORMCOLOR] 230 230 230
[SELCOLOR] 230 230 230
[DISCOLOR] 100 100 100
[BARCOLOR] 0
[BGCOLOR] 49 49 49
[BORDERCOLOR] 0
[OPAQUE] 90
[FONT] OCR_EXT_12

[ADDITEM] MID_DF_TYPE C_TYPE_MENU TXT_ADD_PILOT 0
[ADDITEM] NID C_TYPE_NOTHING 0 0
[ADDITEM] MID_DF_JOIN C_TYPE_ITEM TXT_JOIN 0

[ADDITEM] DF_SKILL_NOVICE C_TYPE_ITEM TXT_RECRUIT MID_DF_TYPE
[ADDITEM] DF_SKILL_CADET C_TYPE_ITEM TXT_CADET MID_DF_TYPE 
[ADDITEM] DF_SKILL_ROOKIE C_TYPE_ITEM TXT_ROOKIE MID_DF_TYPE
[ADDITEM] DF_SKILL_VETERAN C_TYPE_ITEM TXT_VETERAN MID_DF_TYPE
[ADDITEM] DF_SKILL_ACE C_TYPE_ITEM TXT_ACE MID_DF_TYPE