#UI BMS4.33, created by Revientor(2015)
#Toolbar for new flight in dogfight.

[POPUPMENU]
[SETUP] DF_TEAM_NEW_POPUP, C_TYPE_EXCLUSIVE POP_SUBMENU BID_DROPORB
[NORMCOLOR] 230 230 230
[SELCOLOR] 230 230 230
[DISCOLOR] 100 100 100
[BARCOLOR] 0
[BGCOLOR] 49 49 49
[BORDERCOLOR] 0
[OPAQUE] 90
[FONT] OCR_EXT_12

[ADDITEM] MID_DF_TYPE C_TYPE_MENU TXT_ADD_AIRCRAFT 0
[ADDITEM] MID_DF_SKILL C_TYPE_MENU TXT_SKILL MID_DF_TYPE
[ADDITEM] NID C_TYPE_NOTHING 0 0
[ADDITEM] MID_DF_JOIN C_TYPE_ITEM TXT_JOIN 0

[ADDITEM] DF_SKILL_NOVICE C_TYPE_RADIO TXT_RECRUIT MID_DF_SKILL
[RADIOGROUP] DF_SKILL_NOVICE 3
[ADDITEM] DF_SKILL_CADET C_TYPE_RADIO TXT_CADET MID_DF_SKILL 
[RADIOGROUP] DF_SKILL_CADET 3
[ADDITEM] DF_SKILL_ROOKIE C_TYPE_RADIO TXT_ROOKIE MID_DF_SKILL
[RADIOGROUP] DF_SKILL_ROOKIE 3
[ADDITEM] DF_SKILL_VETERAN C_TYPE_RADIO TXT_VETERAN MID_DF_SKILL
[RADIOGROUP] DF_SKILL_VETERAN 3
[STATE] DF_SKILL_VETERAN C_STATE_1
[ADDITEM] DF_SKILL_ACE C_TYPE_RADIO TXT_ACE MID_DF_SKILL
[RADIOGROUP] DF_SKILL_ACE 3

[ADDITEM] NID C_TYPE_NOTHING TXT_SPACE MID_DF_TYPE
[ADDITEM] DF_AC_A4EAGRS C_TYPE_ITEM TXT_A4EAGRS MID_DF_TYPE
[ADDITEM] DF_AC_A10A C_TYPE_ITEM TXT_A10A MID_DF_TYPE
[ADDITEM] DF_AC_A10C C_TYPE_ITEM TXT_A10C MID_DF_TYPE
[ADDITEM] DF_AC_EF2K C_TYPE_ITEM TXT_EF2K MID_DF_TYPE
[ADDITEM] DF_AC_F4ESK C_TYPE_ITEM TXT_F4ESK MID_DF_TYPE
[ADDITEM] DF_AC_F5E C_TYPE_ITEM TXT_F5E MID_DF_TYPE
[ADDITEM] DF_AC_F14A C_TYPE_ITEM TXT_F14A MID_DF_TYPE
[ADDITEM] DF_AC_F14B C_TYPE_ITEM TXT_F14B MID_DF_TYPE
[ADDITEM] DF_AC_F14D C_TYPE_ITEM TXT_F14D MID_DF_TYPE
[ADDITEM] DF_AC_F15C C_TYPE_ITEM TXT_F15C MID_DF_TYPE

[ADDITEM] MID_DF_F16 C_TYPE_MENU TXT_F16 MID_DF_TYPE

[ADDITEM] DF_AC_F16A15 C_TYPE_ITEM TXT_F16A15 MID_DF_F16
[ADDITEM] DF_AC_F16C25 C_TYPE_ITEM TXT_F16C25 MID_DF_F16
[ADDITEM] DF_AC_F16C30 C_TYPE_ITEM TXT_F16C30 MID_DF_F16
[ADDITEM] DF_AC_F16C32AS C_TYPE_ITEM TXT_F16C32AS MID_DF_F16
[ADDITEM] DF_AC_F16C40 C_TYPE_ITEM TXT_F16C40 MID_DF_F16
[ADDITEM] DF_AC_F16C42 C_TYPE_ITEM TXT_F16C42 MID_DF_F16
[ADDITEM] DF_AC_F16C50 C_TYPE_ITEM TXT_F16C50 MID_DF_F16
[ADDITEM] DF_AC_F16C52 C_TYPE_ITEM TXT_F16C52 MID_DF_F16
[ADDITEM] DF_AC_F16AMBE C_TYPE_ITEM TXT_F16AMBE MID_DF_F16
[ADDITEM] DF_AC_F16AMDK C_TYPE_ITEM TXT_F16AMDK MID_DF_F16
[ADDITEM] DF_AC_F16AMNL C_TYPE_ITEM TXT_F16AMNL MID_DF_F16
[ADDITEM] DF_AC_F16AMNO C_TYPE_ITEM TXT_F16AMNO MID_DF_F16
[ADDITEM] DF_AC_F16AMJO C_TYPE_ITEM TXT_F16AMJO MID_DF_F16
[ADDITEM] DF_AC_F16C52+ C_TYPE_ITEM TXT_F16C52+ MID_DF_F16
[ADDITEM] DF_AC_F16A15IL C_TYPE_ITEM TXT_F16A15IL MID_DF_F16
[ADDITEM] DF_AC_F16C30IL C_TYPE_ITEM TXT_F16C30IL MID_DF_F16
[ADDITEM] DF_AC_F16C40IL C_TYPE_ITEM TXT_F16C40IL MID_DF_F16
[ADDITEM] DF_AC_F16I52+IL C_TYPE_ITEM TXT_F16I52+IL MID_DF_F16
[ADDITEM] DF_AC_F16A15EG C_TYPE_ITEM TXT_F16A15EG MID_DF_F16
[ADDITEM] DF_AC_F16C32EG C_TYPE_ITEM TXT_F16C32EG MID_DF_F16
[ADDITEM] DF_AC_F16C40EG C_TYPE_ITEM TXT_F16C40EG MID_DF_F16
[ADDITEM] DF_AC_F16C52+EG C_TYPE_ITEM TXT_F16C52+EG MID_DF_F16

[ADDITEM] DF_AC_F18A C_TYPE_ITEM TXT_F18A MID_DF_TYPE
[ADDITEM] DF_AC_F18C C_TYPE_ITEM TXT_F18C MID_DF_TYPE
[ADDITEM] DF_AC_F18E C_TYPE_ITEM TXT_F18E MID_DF_TYPE
[ADDITEM] DF_AC_F22 C_TYPE_ITEM TXT_F22 MID_DF_TYPE
[ADDITEM] DF_AC_KFIR C_TYPE_ITEM TXT_KFIR MID_DF_TYPE
[ADDITEM] DF_AC_J15 C_TYPE_ITEM TXT_J15 MID_DF_TYPE
[ADDITEM] DF_AC_MIG17F C_TYPE_ITEM TXT_MIG17F MID_DF_TYPE
[ADDITEM] DF_AC_MIG19 C_TYPE_ITEM TXT_MIG19 MID_DF_TYPE
[ADDITEM] DF_AC_MIG21 C_TYPE_ITEM TXT_MIG21 MID_DF_TYPE
[ADDITEM] DF_AC_MIG23MS C_TYPE_ITEM TXT_MIG23MS MID_DF_TYPE
[ADDITEM] DF_AC_MIG25 C_TYPE_ITEM TXT_MIG25 MID_DF_TYPE
[ADDITEM] DF_AC_MIG29 C_TYPE_ITEM TXT_MIG29 MID_DF_TYPE
[ADDITEM] DF_AC_MIG29M2 C_TYPE_ITEM TXT_MIG29M2 MID_DF_TYPE
[ADDITEM] DF_AC_MIG29S C_TYPE_ITEM TXT_MIG29S MID_DF_TYPE
[ADDITEM] DF_AC_MIG31 C_TYPE_ITEM TXT_MIG31 MID_DF_TYPE
[ADDITEM] DF_AC_MF1CT C_TYPE_ITEM TXT_MF1CT MID_DF_TYPE
[ADDITEM] DF_AC_M2000C C_TYPE_ITEM TXT_M2000C MID_DF_TYPE
[ADDITEM] DF_AC_M20005 C_TYPE_ITEM TXT_M20005 MID_DF_TYPE
[ADDITEM] DF_AC_M2000EGM C_TYPE_ITEM TXT_M2000EGM MID_DF_TYPE
[ADDITEM] DF_AC_RAFALEC C_TYPE_ITEM TXT_RAFALEC MID_DF_TYPE
[ADDITEM] DF_AC_SU17 C_TYPE_ITEM TXT_SU17 MID_DF_TYPE
[ADDITEM] DF_AC_SU27 C_TYPE_ITEM TXT_SU27 MID_DF_TYPE
[ADDITEM] DF_AC_SU30MKK C_TYPE_ITEM TXT_SU30MKK MID_DF_TYPE
[ADDITEM] DF_AC_TORNF3 C_TYPE_ITEM TXT_TORNF3 MID_DF_TYPE
[ADDITEM] DF_AC_TU95S C_TYPE_ITEM TXT_TU95S MID_DF_TYPE