#UI BMS4, created by Revientor and Naldo (2009)
#This window shows the "dogfight" header.

[WINDOW]
[SETUP] DF_HEADER_WIN C_TYPE_NORMAL 997 700
[XY] 13 65
[RANGES] 0 0 1024 768 299 30
[GROUP] 2000
[FLAGBITON] C_BIT_CANTMOVE

[TILE] 
[SETUP] NID 0 TE_MAIN 
[XYWH] 0 0 997 700
[FLAGBITON] C_BIT_ABSOLUTE 
[FLAGBITON] C_BIT_HORIZONTAL

[LINE]
[SETUP] NID 0
[XYWH] 0 20 997 1
[FLAGBITON] C_BIT_ABSOLUTE
[COLOR] 180 180 180 GREY

[BITMAP]
#[SETUP] NID 0 DOGFIGHT
[SETUP] NID 0 GUN_DGFT_HEAD
#[XY] 445 0
[XY] 310 0
[FLAGBITON] C_BIT_VCENTER

[BUTTON] CLOSE
[SETUP] CLOSE_WINDOW,C_TYPE_NORMAL,976,2
[IMAGES] REVI_CLOSE REVI_CLOSE NULL NULL
[ID] CLOSE_WINDOW
[TYPE] C_TYPE_NORMAL
[GROUP] 2000
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP
[HOTKEY] DIK_ESCAPE
[CURSOR] CRSR_F16_ON