#UI BMS4, created by Revientor and Naldo (2009)
#I don't think this window is even used!

[WINDOW]
[SETUP] DF_GAME_WIN C_TYPE_NORMAL 330 271
[XY] 455 258
[RANGES] 0 0 1024 768 330 271
[GROUP] 2000
[FLAGBITON] C_BIT_CANTMOVE
[CLIENTAREA] 8 0 321 280 1
[FLAGBITON] C_BIT_TRANSLUCENT

[FILL]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 0 0 330 271
[PERCENT] 20
[FLAGBITON] C_BIT_TRANSLUCENT
[FLAGBITON] C_BIT_ABSOLUTE

[LINE]
[SETUP] NID, 0 
[XYWH] 8 8 314 29
[COLOR] 65 128 173

[TEXT]
[SETUP] DF_GAME_NAME, 0
[SETTEXT] TXT_EMPTY
[XY] 165 10
[FLAGBITON] C_BIT_HCENTER
[FONT] BANK_GOTHIC_24
[FGCOLOR] 0 0 0

[TEXT]
[SETUP] NID, 0
[SETTEXT] TXT_GAME
[XY] 165 60
[FLAGBITON] C_BIT_HCENTER
[FONT] BANK_GOTHIC_16
[FGCOLOR] 230 230 230 WHITE

[LINE]
[SETUP] NID, 0 
[XYWH] 91 80 148 18
[COLOR] 65 128 173

[LISTBOX]
[SETUP] DF_GAME_TYPE 0
[XYWH] 91 80 148 18
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 GREEN
[FONT] OCR_EXT_16
[DROPDOWN] BID_DROPDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[ADDITEM] DF_GAME_FURBALL C_TYPE_ITEM TXT_FURBALL
[ITEMUSERDATA] DF_GAME_FURBALL C_STATE_0 200
[ITEMUSERDATA] DF_GAME_FURBALL C_STATE_1 100
[ADDITEM] DF_GAME_TEAM_FURBALL C_TYPE_ITEM TXT_TEAM_FURBALL
[ITEMUSERDATA] DF_GAME_TEAM_FURBALL C_STATE_0 100
[ITEMUSERDATA] DF_GAME_TEAM_FURBALL C_STATE_1 200
[ADDITEM] DF_GAME_TEAM_MATCH C_TYPE_ITEM TXT_MATCHPLAY
[ITEMUSERDATA] DF_GAME_MATCH C_STATE_0 100
[ITEMUSERDATA] DF_GAME_MATCH C_STATE_1 200
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_STATE_DOWN

[TEXT]
[SETUP] NID, 0
[SETTEXT] TXT_STATUS
[XY] 165 140
[FLAGBITON] C_BIT_HCENTER
[FONT] BANK_GOTHIC_16
[FGCOLOR] 230 230 230 WHITE

[TEXT]
[SETUP] DF_STATUS, 0
[SETTEXT] TXT_EMPTY
[XY] 165 160
[FLAGBITON] C_BIT_HCENTER
[FONT] OCR_EXT_16
[FGCOLOR] 230 230 230 WHITE

[TEXT]
[SETUP] NID, 0
[SETTEXT] TXT_PLAYERS
[XY] 165 220
[FLAGBITON] C_BIT_HCENTER
[FONT] BANK_GOTHIC_16
[FGCOLOR] 230 230 230 WHITE
[CLUSTER] 200

[TEXT]
[SETUP] DF_PLAYER_COUNT, 0
[SETTEXT] TXT_EMPTY
[XY] 165 240
[FLAGBITON] C_BIT_HCENTER
[FONT] OCR_EXT_16
[FGCOLOR] 230 230 230 WHITE
[CLUSTER] 200