#UI BMS4, created by Revientor and Naldo (2009)
#Modified by Dee-Jay 25/08/2019 : Clock window ZULU / LOCAL TIME update
#This window shows the map and clock before you join the dogfight flight

[WINDOW]
[SETUP] DF_SUA_WIN C_TYPE_NORMAL 350 400
[XY] 645 90
[RANGES] 0 0 1024 768 350 400
[GROUP] 2000
[FLAGBITON] C_BIT_CANTMOVE

[TILE] 
[SETUP] NID 0 DF_CLOCK 
[XYWH] 0 0 350 400
[FLAGBITON] C_BIT_ABSOLUTE 
[FLAGBITON] C_BIT_HORIZONTAL

[BOX]
[SETUP] NID,0
[XYWH] 5 5 334 19
[COLOR] 180 180 180 GREY

[TEXT] 
[SETUP] NID 0
[SETTEXT] TXT_START_TIME_COLON
[XY] 61 6
[FONT] OCR_EXT_16
[FGCOLOR] 255 255 255 WHITE

[CLOCK]
[SETUP] TIME_ID 0
[XY] 180 6
[NORMCOLOR] 255 255 255 WHITE
[SELCOLOR] 255 255 255 WHITE
[FONT] OCR_EXT_16
[SEP1] TXT_CLOCK_HOUR_SEP
[SEP2] TXT_CLOCK_MINUTE_SEP
[CLIENT] 2
[CURSOR] CRSR_F16_ON
[FLAGBITOFF] C_BIT_ENABLED
[HELPTEXT] HELP_SUA_TIME

[TEXT] 
[SETUP] NID 0
[SETTEXT] TXT_LOCAL_TIME
[XY] 266 8
[FONT] OCR_EXT_14
[FGCOLOR] 255 255 255 WHITE

[BITMAP]
[SETUP] NID, 0, REVI_MAP_TGA
[XY] 0 30
[FLAGBITON] C_BIT_ABSOLUTE

#Currently Unused
#[LISTBOX]
#[SETUP] DF_THEATER 0
#[XYWH] 55 204 170 18
#[NORMCOLOR] 230 230 230
#[SELCOLOR] 255 255 0 YELLOW
#[FONT] OCR_EXT_16
#[DROPDOWN] BID_DROPDOWN
#[FLAGBITON] C_BIT_ABSOLUTE
#[ADDITEM] DF_KOREA C_TYPE_ITEM TXT_KOREA
#[CURSOR] CRSR_LIST_F16
#[SOUNDBITE] SND_MENU C_STATE_DOWN