#UI BMS4, created by Revientor and Naldo (2009)
#This window puts the dogfight toolbar on the bottom of
#the screen before you join the dogfight.
[WINDOW]
[SETUP] DF_TOOLBAR_WIN C_TYPE_NORMAL 996 83
[RANGES] 0 0 1024 768 996 83
[XY] 13 680
[GROUP] 2000
[FLAGBITON] C_BIT_CANTMOVE

[TILE] 
[SETUP] NID 0 IA_TOOL 
[XYWH] 0 0 996 83
[FLAGBITON] C_BIT_ABSOLUTE 
[FLAGBITON] C_BIT_HORIZONTAL

[BUTTON]
[SETUP] DF_OFFLINE_CTRL C_TYPE_NORMAL
#[XYWH] 872 16 119 63
[XYWH] 833 10 124 74
[BUTTONIMAGE] C_STATE_0 TOOL_MAIN_DFSG
[BUTTONIMAGE] C_STATE_1 TOOL_MAIN_DFSG
[BUTTONIMAGE] C_STATE_DISABLED TOOL_MAIN_DFSG
#[BUTTONANIM] C_STATE_MOUSE DOGFIGHT_ANIM C_TYPE_PINGPONG 1
#[FLAGBITOFF] C_BIT_MOUSEOVER
[GROUP] 2020
#[SOUNDBITE] SND_DGFT_DOWN C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
#[SOUNDBITE] SND_DGFT_OVER C_TYPE_MOUSEOVER
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[CURSOR] CRSR_F16_ON
[HELPTEXT] TXT_ACCEPT

#For Host and Join
[BUTTON]
[SETUP] DF_HOST_CTRL C_TYPE_NORMAL
#[XYWH] 872 16 119 63
[XYWH] 833 10 124 74
[BUTTONIMAGE] C_STATE_0 TOOL_MAIN_DFCO
[BUTTONIMAGE] C_STATE_1 TOOL_MAIN_DFCO
[BUTTONIMAGE] C_STATE_DISABLED TOOL_MAIN_DFCO
#[BUTTONANIM] C_STATE_MOUSE MULTI_DOGFIGHT_ANIM C_TYPE_PINGPONG 1
#[FLAGBITOFF] C_BIT_MOUSEOVER
[GROUP] 2020
#[SOUNDBITE] SND_DGFT_DOWN C_TYPE_LMOUSEDOWN
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN
#[SOUNDBITE] SND_DGFT_OVER C_TYPE_MOUSEOVER
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[CURSOR] CRSR_F16_ON
[HELPTEXT] TXT_ACCEPT

[BUTTON]
[SETUP] UI_HELP_GUIDE C_TYPE_NORMAL 0 0
[XYWH] 457 14 119 63
[GROUP] 40002
[BUTTONIMAGE] C_STATE_0 TOOL_MAIN_HELP
[BUTTONIMAGE] C_STATE_1 TOOL_MAIN_HELP
[BUTTONIMAGE] C_STATE_DISABLED TOOL_MAIN_HELP
#[BUTTONANIM] C_STATE_MOUSE HELP_ANIM C_TYPE_PINGPONG 1
#[FLAGBITOFF] C_BIT_MOUSEOVER
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_HELP
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_PUSH C_TYPE_LMOUSEDOWN